.container{
    background-color: rgba(33, 33, 33, 0.7);
    margin:15px 0;
    padding: 10px;
    font-size:2.2em;
    font-weight:550;
    color:#D1C4E9;
    text-align: center;
    box-shadow: 3px 3px 3px #000;
}

@media(max-width:900px){
    .container{
        font-size: 1.7em;
    }
}