.container{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  align-items:center;
  padding:3% 5%;
}

.container1{
  margin:2% 3%;
  background-color:  #262529;
  border-radius:10px;
  box-shadow: 0 0 3px #0a0a0a;
  padding:30px;
}

.quit{
  background-color: #CF6679;
  border:none;
  height:50px;
  width:200px;
  margin:20px;
  font-size:1.2em;
  border-radius: 10px;
  font-weight: 600;
}

.btnc{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.copy{
  color:#fff;
  font-weight:300;
}

@media(max-width:1300px){
  .container{
    grid-template-columns: repeat(2,1fr);
  }
}

@media(max-width:800px){
  .container{
    grid-template-columns: 1fr;
  }
}


